openapi: 3.0.3
info:
  title: GitHub REST API (Trimmed)
  version: "2024-06-01"
  description: >-
    Diagram-friendly subset of GitHub's REST API focusing on repository, issue,
    and pull request workflows. Deeply nested or rarely diagrammed endpoints
    were removed to keep PlantUML conversion approachable.
servers:
  - url: https://api.github.com
security:
  - tokenAuth: []
paths:
  /user/repos:
    post:
      summary: Create a repository for the authenticated user.
      operationId: createRepositoryForAuthenticatedUser
      tags:
        - Repositories
      requestBody:
        $ref: '#/components/requestBodies/RepositoryCreateBody'
      responses:
        '201':
          $ref: '#/components/responses/RepositoryResponse'
        '422':
          $ref: '#/components/responses/ErrorResponse'
  /repos/{owner}/{repo}:
    parameters:
      - $ref: '#/components/parameters/OwnerParam'
      - $ref: '#/components/parameters/RepoParam'
    get:
      summary: Retrieve repository metadata.
      operationId: getRepository
      tags:
        - Repositories
      responses:
        '200':
          $ref: '#/components/responses/RepositoryResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
    patch:
      summary: Update repository settings such as description or visibility.
      operationId: updateRepository
      tags:
        - Repositories
      requestBody:
        $ref: '#/components/requestBodies/RepositoryUpdateBody'
      responses:
        '200':
          $ref: '#/components/responses/RepositoryResponse'
        '422':
          $ref: '#/components/responses/ErrorResponse'
  /repos/{owner}/{repo}/issues:
    parameters:
      - $ref: '#/components/parameters/OwnerParam'
      - $ref: '#/components/parameters/RepoParam'
    get:
      summary: List issues in a repository.
      operationId: listRepositoryIssues
      tags:
        - Issues
      responses:
        '200':
          description: Array of issues.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issue'
        '404':
          $ref: '#/components/responses/ErrorResponse'
    post:
      summary: Create an issue in the repository.
      operationId: createRepositoryIssue
      tags:
        - Issues
      requestBody:
        $ref: '#/components/requestBodies/IssueCreateBody'
      responses:
        '201':
          $ref: '#/components/responses/IssueResponse'
        '422':
          $ref: '#/components/responses/ErrorResponse'
  /repos/{owner}/{repo}/issues/{issue_number}:
    parameters:
      - $ref: '#/components/parameters/OwnerParam'
      - $ref: '#/components/parameters/RepoParam'
      - $ref: '#/components/parameters/IssueNumberParam'
    get:
      summary: Retrieve a single issue.
      operationId: getRepositoryIssue
      tags:
        - Issues
      responses:
        '200':
          $ref: '#/components/responses/IssueResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
    patch:
      summary: Update the title, body, or state of an issue.
      operationId: updateRepositoryIssue
      tags:
        - Issues
      requestBody:
        $ref: '#/components/requestBodies/IssueUpdateBody'
      responses:
        '200':
          $ref: '#/components/responses/IssueResponse'
        '422':
          $ref: '#/components/responses/ErrorResponse'
  /repos/{owner}/{repo}/pulls:
    parameters:
      - $ref: '#/components/parameters/OwnerParam'
      - $ref: '#/components/parameters/RepoParam'
    post:
      summary: Open a pull request.
      operationId: createPullRequest
      tags:
        - PullRequests
      requestBody:
        $ref: '#/components/requestBodies/PullRequestCreateBody'
      responses:
        '201':
          $ref: '#/components/responses/PullRequestResponse'
        '422':
          $ref: '#/components/responses/ErrorResponse'
  /repos/{owner}/{repo}/pulls/{pull_number}:
    parameters:
      - $ref: '#/components/parameters/OwnerParam'
      - $ref: '#/components/parameters/RepoParam'
      - $ref: '#/components/parameters/PullNumberParam'
    get:
      summary: Retrieve pull request metadata and current merge status.
      operationId: getPullRequest
      tags:
        - PullRequests
      responses:
        '200':
          $ref: '#/components/responses/PullRequestResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
    patch:
      summary: Update the title, body, or base branch of a pull request.
      operationId: updatePullRequest
      tags:
        - PullRequests
      requestBody:
        $ref: '#/components/requestBodies/PullRequestUpdateBody'
      responses:
        '200':
          $ref: '#/components/responses/PullRequestResponse'
        '422':
          $ref: '#/components/responses/ErrorResponse'
  /repos/{owner}/{repo}/pulls/{pull_number}/merge:
    parameters:
      - $ref: '#/components/parameters/OwnerParam'
      - $ref: '#/components/parameters/RepoParam'
      - $ref: '#/components/parameters/PullNumberParam'
    put:
      summary: Merge the specified pull request.
      operationId: mergePullRequest
      tags:
        - PullRequests
      requestBody:
        $ref: '#/components/requestBodies/PullRequestMergeBody'
      responses:
        '200':
          description: Merge status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  merged:
                    type: boolean
                  sha:
                    type: string
                  message:
                    type: string
        '409':
          $ref: '#/components/responses/ErrorResponse'
components:
  securitySchemes:
    tokenAuth:
      type: http
      scheme: bearer
      bearerFormat: token
  parameters:
    OwnerParam:
      name: owner
      in: path
      required: true
      description: Repository owner (user or organization).
      schema:
        type: string
    RepoParam:
      name: repo
      in: path
      required: true
      description: Repository name.
      schema:
        type: string
    IssueNumberParam:
      name: issue_number
      in: path
      required: true
      description: Number that identifies the issue.
      schema:
        type: integer
        minimum: 1
    PullNumberParam:
      name: pull_number
      in: path
      required: true
      description: Number that identifies the pull request.
      schema:
        type: integer
        minimum: 1
  requestBodies:
    RepositoryCreateBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RepositoryCreate'
    RepositoryUpdateBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RepositoryUpdate'
    IssueCreateBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IssueCreate'
    IssueUpdateBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IssueUpdate'
    PullRequestCreateBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PullRequestCreate'
    PullRequestUpdateBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PullRequestUpdate'
    PullRequestMergeBody:
      description: Optional commit title/message overrides when merging.
      required: false
      content:
        application/json:
          schema:
            type: object
            properties:
              commit_title:
                type: string
              commit_message:
                type: string
              merge_method:
                type: string
                enum: [merge, squash, rebase]
  responses:
    RepositoryResponse:
      description: Repository representation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Repository'
    IssueResponse:
      description: Issue representation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Issue'
    PullRequestResponse:
      description: Pull request representation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PullRequest'
    ErrorResponse:
      description: GitHub error payload.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Repository:
      type: object
      required:
        - id
        - name
        - full_name
        - private
      properties:
        id:
          type: integer
        name:
          type: string
        full_name:
          type: string
        description:
          type: string
          nullable: true
        private:
          type: boolean
        html_url:
          type: string
          format: uri
        default_branch:
          type: string
        visibility:
          type: string
          enum: [public, private, internal]
        owner:
          $ref: '#/components/schemas/UserSummary'
        topics:
          type: array
          items:
            type: string
        archived:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RepositoryCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        description:
          type: string
        private:
          type: boolean
        visibility:
          type: string
          enum: [public, private, internal]
        auto_init:
          type: boolean
        license_template:
          type: string
    RepositoryUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        private:
          type: boolean
        default_branch:
          type: string
        archived:
          type: boolean
        allow_merge_commit:
          type: boolean
        allow_squash_merge:
          type: boolean
        allow_rebase_merge:
          type: boolean
    Issue:
      type: object
      required:
        - id
        - number
        - title
        - state
      properties:
        id:
          type: integer
        number:
          type: integer
        title:
          type: string
        body:
          type: string
          nullable: true
        state:
          type: string
          enum: [open, closed]
        user:
          $ref: '#/components/schemas/UserSummary'
        assignees:
          type: array
          items:
            $ref: '#/components/schemas/UserSummary'
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Label'
        milestone:
          $ref: '#/components/schemas/Milestone'
        locked:
          type: boolean
        comments:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        closed_at:
          type: string
          format: date-time
          nullable: true
    IssueCreate:
      type: object
      required:
        - title
      properties:
        title:
          type: string
        body:
          type: string
        assignees:
          type: array
          items:
            type: string
        labels:
          type: array
          items:
            type: string
        milestone:
          type: integer
    IssueUpdate:
      type: object
      properties:
        title:
          type: string
        body:
          type: string
        state:
          type: string
          enum: [open, closed]
        assignees:
          type: array
          items:
            type: string
        labels:
          type: array
          items:
            type: string
        milestone:
          type: integer
    PullRequest:
      type: object
      required:
        - id
        - number
        - state
        - title
      properties:
        id:
          type: integer
        number:
          type: integer
        state:
          type: string
          enum: [open, closed]
        title:
          type: string
        body:
          type: string
          nullable: true
        draft:
          type: boolean
        user:
          $ref: '#/components/schemas/UserSummary'
        head:
          $ref: '#/components/schemas/BranchRef'
        base:
          $ref: '#/components/schemas/BranchRef'
        merged:
          type: boolean
        mergeable:
          type: boolean
          nullable: true
        merged_by:
          $ref: '#/components/schemas/UserSummary'
        commits:
          type: integer
        additions:
          type: integer
        deletions:
          type: integer
        changed_files:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        closed_at:
          type: string
          format: date-time
          nullable: true
        merged_at:
          type: string
          format: date-time
          nullable: true
    PullRequestCreate:
      type: object
      required:
        - title
        - head
        - base
      properties:
        title:
          type: string
        head:
          type: string
          description: The name of the branch where changes are implemented.
        base:
          type: string
          description: The name of the branch you want the changes pulled into.
        body:
          type: string
        maintainer_can_modify:
          type: boolean
        draft:
          type: boolean
    PullRequestUpdate:
      type: object
      properties:
        title:
          type: string
        body:
          type: string
        state:
          type: string
          enum: [open, closed]
        base:
          type: string
        maintainer_can_modify:
          type: boolean
    BranchRef:
      type: object
      properties:
        label:
          type: string
        ref:
          type: string
        sha:
          type: string
        user:
          $ref: '#/components/schemas/UserSummary'
        repo:
          $ref: '#/components/schemas/Repository'
    UserSummary:
      type: object
      properties:
        id:
          type: integer
        login:
          type: string
        avatar_url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
        type:
          type: string
          enum: [User, Organization]
    Label:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        color:
          type: string
        description:
          type: string
          nullable: true
    Milestone:
      type: object
      properties:
        id:
          type: integer
        number:
          type: integer
        title:
          type: string
        state:
          type: string
          enum: [open, closed]
        description:
          type: string
          nullable: true
        due_on:
          type: string
          format: date-time
          nullable: true
    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
        documentation_url:
          type: string
          format: uri
        errors:
          type: array
          items:
            type: object
            properties:
              resource:
                type: string
              field:
                type: string
              code:
                type: string
