openapi: 3.0.0
info:
  title: Stripe Payments API (Trimmed)
  version: "2024-06-01"
  description: >-
    Diagram-focused subset of Stripe's Payments API covering payment intents,
    customers, and charges. Complex polymorphic schemas and rarely diagrammed
    endpoints have been removed to keep PlantUML conversions concise.
servers:
  - url: https://api.stripe.com
security:
  - bearerAuth: []
paths:
  /v1/payment_intents:
    post:
      summary: Create a new PaymentIntent to represent an upcoming payment.
      operationId: createPaymentIntent
      tags:
        - PaymentIntents
      requestBody:
        $ref: '#/components/requestBodies/PaymentIntentCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/PaymentIntentResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /v1/payment_intents/{intent}:
    parameters:
      - $ref: '#/components/parameters/PaymentIntentId'
    get:
      summary: Retrieve the latest state of a PaymentIntent.
      operationId: getPaymentIntent
      tags:
        - PaymentIntents
      responses:
        '200':
          $ref: '#/components/responses/PaymentIntentResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
    patch:
      summary: Update mutable properties of a PaymentIntent.
      operationId: updatePaymentIntent
      tags:
        - PaymentIntents
      requestBody:
        $ref: '#/components/requestBodies/PaymentIntentUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/PaymentIntentResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /v1/payment_intents/{intent}/confirm:
    parameters:
      - $ref: '#/components/parameters/PaymentIntentId'
    post:
      summary: Confirm the intent by attaching a payment method and finalizing the charge.
      operationId: confirmPaymentIntent
      tags:
        - PaymentIntents
      requestBody:
        $ref: '#/components/requestBodies/PaymentIntentConfirmRequest'
      responses:
        '200':
          $ref: '#/components/responses/PaymentIntentResponse'
        '402':
          $ref: '#/components/responses/ErrorResponse'
  /v1/customers:
    post:
      summary: Create a customer profile with optional default payment method.
      operationId: createCustomer
      tags:
        - Customers
      requestBody:
        $ref: '#/components/requestBodies/CustomerCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/CustomerResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /v1/customers/{customer}:
    parameters:
      - $ref: '#/components/parameters/CustomerId'
    get:
      summary: Retrieve a customer profile.
      operationId: getCustomer
      tags:
        - Customers
      responses:
        '200':
          $ref: '#/components/responses/CustomerResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
    patch:
      summary: Update customer contact details or default payment method.
      operationId: updateCustomer
      tags:
        - Customers
      requestBody:
        $ref: '#/components/requestBodies/CustomerUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/CustomerResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /v1/charges/{charge}:
    parameters:
      - $ref: '#/components/parameters/ChargeId'
    get:
      summary: Retrieve a charge created by a confirmed PaymentIntent.
      operationId: getCharge
      tags:
        - Charges
      responses:
        '200':
          $ref: '#/components/responses/ChargeResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth
  parameters:
    PaymentIntentId:
      name: intent
      in: path
      required: true
      description: Identifier for the PaymentIntent, prefixed with `pi_`.
      schema:
        type: string
    CustomerId:
      name: customer
      in: path
      required: true
      description: Identifier for the customer, prefixed with `cus_`.
      schema:
        type: string
    ChargeId:
      name: charge
      in: path
      required: true
      description: Identifier for the charge, prefixed with `ch_`.
      schema:
        type: string
  requestBodies:
    PaymentIntentCreateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentIntentCreate'
    PaymentIntentUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentIntentUpdate'
    PaymentIntentConfirmRequest:
      required: false
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentIntentConfirm'
    CustomerCreateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomerCreate'
    CustomerUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomerUpdate'
  responses:
    PaymentIntentResponse:
      description: PaymentIntent payload.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentIntent'
    CustomerResponse:
      description: Customer payload.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Customer'
    ChargeResponse:
      description: Charge payload.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Charge'
    ErrorResponse:
      description: Stripe error payload.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    PaymentIntent:
      type: object
      required:
        - id
        - amount
        - currency
        - status
      properties:
        id:
          type: string
        amount:
          type: integer
          description: Amount intended to be collected, in the smallest currency unit.
        currency:
          type: string
          description: ISO currency code.
        status:
          type: string
          enum: [requires_payment_method, requires_confirmation, requires_action, processing, succeeded, canceled]
        capture_method:
          type: string
          enum: [automatic, manual]
        confirmation_method:
          type: string
          enum: [automatic, manual]
        customer:
          type: string
          description: Optional customer this intent belongs to.
        payment_method:
          $ref: '#/components/schemas/PaymentMethod'
        latest_charge:
          $ref: '#/components/schemas/Charge'
        description:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
    PaymentIntentCreate:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          type: integer
        currency:
          type: string
        customer:
          type: string
        payment_method:
          type: string
        confirm:
          type: boolean
          description: Whether to immediately confirm the intent after creation.
        description:
          type: string
    PaymentIntentUpdate:
      type: object
      properties:
        payment_method:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
    PaymentIntentConfirm:
      type: object
      properties:
        payment_method:
          type: string
        return_url:
          type: string
      additionalProperties: false
    Customer:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        phone:
          type: string
        default_payment_method:
          $ref: '#/components/schemas/PaymentMethod'
        shipping:
          $ref: '#/components/schemas/ShippingDetails'
        metadata:
          type: object
          additionalProperties:
            type: string
    CustomerCreate:
      type: object
      properties:
        email:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        payment_method:
          type: string
        phone:
          type: string
    CustomerUpdate:
      type: object
      properties:
        email:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        payment_method:
          type: string
        phone:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
    Charge:
      type: object
      required:
        - id
        - amount
        - currency
        - status
      properties:
        id:
          type: string
        amount:
          type: integer
        currency:
          type: string
        status:
          type: string
          enum: [pending, succeeded, failed, refunded]
        payment_method_details:
          $ref: '#/components/schemas/PaymentMethodDetails'
        paid:
          type: boolean
        customer:
          type: string
        receipt_url:
          type: string
          format: uri
    PaymentMethod:
      type: object
      required:
        - id
        - type
      properties:
        id:
          type: string
        type:
          type: string
          enum: [card, sepa_debit]
        billing_details:
          $ref: '#/components/schemas/BillingDetails'
        card:
          $ref: '#/components/schemas/CardDetails'
        sepa_debit:
          $ref: '#/components/schemas/SepaDebitDetails'
    PaymentMethodDetails:
      type: object
      properties:
        type:
          type: string
        card:
          $ref: '#/components/schemas/CardDetails'
        sepa_debit:
          $ref: '#/components/schemas/SepaDebitDetails'
    BillingDetails:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
    CardDetails:
      type: object
      properties:
        brand:
          type: string
          enum: [visa, mastercard, amex, diners, discover, jcb, unionpay]
        last4:
          type: string
        exp_month:
          type: integer
        exp_year:
          type: integer
        fingerprint:
          type: string
        funding:
          type: string
          enum: [credit, debit, prepaid, unknown]
    SepaDebitDetails:
      type: object
      properties:
        bank_code:
          type: string
        branch_code:
          type: string
        country:
          type: string
        fingerprint:
          type: string
        last4:
          type: string
    ShippingDetails:
      type: object
      properties:
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        phone:
          type: string
    Address:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
        country:
          type: string
    Error:
      type: object
      required:
        - type
        - message
      properties:
        type:
          type: string
        message:
          type: string
        code:
          type: string
        param:
          type: string
        decline_code:
          type: string
